{extend name='common/index_base' /}
{block name='title'}{$posts->title} - {$web_name}{/block}
{block name='seoDescription'}{:mb_substr($posts->content,0,100)}...{/block}
{block name='seoKeywords'}{$posts->title}{/block}
{block name='body'}
 <!--=== single blog post ===-->
 <section class="blog-home">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 col-lg-8 mx-auto">
                <div class="post post-card">
                    <div class="single-post-header">
                       
                        <h1>{$posts->title}</h1>
                        <p></p>
                        <div class="post-tag">{$posts->create_time}</div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <div class="card-details">
                                {$posts->content}
                            </div>
                        </div>
                    </div>
                    <ul class="list-inline share-icon text-left">
                        {volist name="$posts->tags" id='tag'}
                            <li class="list-inline-item"><span>{$tag->name}</span></li>
                        {/volist}
                    </ul>
                </div>

            </div>
        </div>
    </div>
</section>

<!--=== blog comments ===-->
<section class="all-comments contact">
    <div class="container-fluid">
        <div class="row">
            <div class="col col-lg-8 mx-auto">
                <div class="comment-posts">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class=""><h2 class="comment-section-title">评论</h2></div>

                            {volist name="$posts->getShowComment()" id='comment'}
                               
                                    <div class="media single-content">
                                        <a href="#"><img class=" img-responsive" src="__index_style__/images/team_1.jpg" alt="image"></a>
                                        <div class="media-body">
                                            <h3 class=""><span>{$comment->create_time}</span></h3>
                                            <p>{$comment->content}</p>
                                        </div>
                                    </div>
                                
                            {/volist}
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12">
                            <div class="border-wrapper"><h2 class="comment-section-title">发表评论</h2></div>
                        </div>
                        <form action="" method="post">
                            <div class="col-12">
                                <div class="form-group">
                                    <label class="sr-only">评论内容</label>
                                    <textarea class="form-control textarea" name="content" rows="5" cols="150" placeholder="请填写评论内容"></textarea>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-group">
                                    <button type="submit" class="btn btn-secondary">发布</button>
                                </div>
                            </div>
                        </form>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>
{/block}