{extend name="common/admin_base" /}
{block name='body'}
<div class="container-fluid">

    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">修改密码</h1>

    <!-- DataTales Example -->
    <div class="card shadow mb-4">
      <!-- <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary"><a href="{:url('admin/post/index')}" class="btn btn-primary">返回帖子列表</a></h6>
      </div> -->
      <div class="card-body">
        <form action="" method="POST" >
          
         
          <div class="form-group row">
            <label for="inputPassword" class="col-sm-1 col-form-label">新密码</label>
            <div class="col-sm-3">
              <input type="password" name="pwd" class="form-control" placeholder="请输入新密码" >
            </div>
          </div>
         
          <div class="form-group row">
              <div class="col-sm-3 col-sm-offset-3">
                  <button type="submit" class="btn btn-primary">保存</button>
              </div>
          </div>
        </form>
      </div>
    </div>

  </div>
{/block}